<footer class="site-footer outer">
  <!-- The footer at the very bottom of the screen -->
    <div class="site-footer-content inner">
        <section class="copyright">
          <a href="{{ site.url }}{{ site.baseurl }}">SUB Göttingen</a> &copy; {{  site.time | date: '%Y' }}
          |
          <a class="cc-by-4" href="https://creativecommons.org/licenses/by/4.0/"><img src="{{ site.url }}{{ site.baseurl }}assets/images/cc.svg"/><img src="{{ site.url }}{{ site.baseurl }}assets/images/by.svg"/></a>
          <br/>
          <a href="https://www.sub.uni-goettingen.de/impressum/">Imprint</a>
        </section>
        <section class="poweredby">Published with <a href="https://jekyllrb.com/">Jekyll</a> &
            <a href="https://gitlab.gwdg.de/"><i class="fa fa-gitlab" aria-hidden="true"></i> Pages</a> using
            <a href="https://github.com/myJekyll/jasper2">Jasper2</a></section>
        <nav class="site-footer-nav">
            <a href="{{ site.baseurl }}">Latest Posts</a>
            {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">Facebook</a>{% endif %}
            {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>{% endif %}
        </nav>
    </div>
    <div class="edit-this">
      <a href="{{ site.source_url }}blob/{{ site.source_branch }}/{{ page.path }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <i class="fa fa-adjust" id="fluxinverter" aria-hidden="true"></i>
    </div>
</footer>
